<form method="post" action="{{ path('reclamation_delete', {'id': reclamation.id_rec}) }}"
      onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette reclamation');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reclamation.id_rec) }}">
    <button class="btn_2"><i class="fas fa-trash-alt" style="color: #0f192a">Supprimer</i></button>
</form>