{%  extends 'base-front.html.twig' %}

{% block title %}Affichage Produits{% endblock %}

{% block body %}
<!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <h1></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->
    <div class="latest-news mt-150 mb-150">
    <div id="containerLOGIN">
    <h1>Affichage Produit</h1>

    {{ include('produit/_form.html.twig') }}


    </div>
{% endblock %}

