{% extends 'base-front.html.twig' %}

{% block body %}
    <div class="latest-news mt-150 mb-150">

        <table class="table">
            <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Date/Commande</th>
                <th>total</th>
            </tr>
            </thead>
            <tbody>
            {% for com_rep in com_reps %}
                <tr>
                    <td>{{ com_rep.id }}</td>
                    <td>{{ com_rep.numCmd }}</td>
                    <td> {{ com_rep.DateCmd ? com_rep.DateCmd|date('Y-m-d') : '' }}</td>

                    <td>{{ com_rep.totalCmd }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
