{% extends 'base-back.html.twig' %}

{% block title %}New Destination{% endblock %}

{% block body %}

    <h1>Ajouter une destination</h1>

    {{ include('destination/_form.html.twig') }}


{% endblock %}
