{% extends 'base-back.html.twig' %}

{% block title %} Editer Categorie {% endblock %}

{% block body %}

    <h1>Editer Categorie </h1>

    {{ form_start(form) }}

    {{ include('categorie/_form.html.twig') }}
    <button type="submit" class="btn btn-primary mr-2">Editer </button>
    <button class="btn btn-dark">Cancel</button>
    {{ form_rest(form) }}
    {{ form_end(form) }}
    </form>
    </div>
    </div>
{% endblock %}